*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*
## Colors

### Primary

- Dark cyan: hsl(158, 36%, 37%)
- Cream: hsl(30, 38%, 92%)

### Neutral

- Very dark blue: hsl(212, 21%, 14%)
- Dark grayish blue: hsl(228, 12%, 48%)
- White: hsl(0, 0%, 100%)
*/

body {
  background-color: hsl(30, 38%, 92%);
}

main {
  width: 600px;
  height: 440px;
  margin-inline: auto;
  margin: 8rem 0;
  margin-left: 8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 10px;
  background-color: hsl(0, 0%, 100%);
}

.left .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.left, .right {
  height: 100%;
}

.right {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.left {
  overflow: hidden;
  display: block;
  height: auto;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

h3 {
  font-family: 'Fraunces',sans-serif;
  font-size: 2rem;
}

#product {
  font-family: 'Montserrat',sans-serif;
  font-size: 0.78rem;
  font-weight: 600;
  color: hsla(228, 12%, 48%, 0.699)
}

#description {
  font-family: 'Montserrat',sans-serif;
  color: hsl(228, 12%, 48%);
  font-size: 0.9rem;
}

#is {
  font-family: 'Fraunces',sans-serif;
  font-size: 2rem;
  color: hsl(158, 36%, 37%);
  font-weight: 700;
}

.price {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

#was {
  font-family: 'Montserrat',sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
}

.addtocart-btn {
  font-family: 'Montserrat',sans-serif;
  padding: 15px;
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
  font-weight: 600;
  color: white;
  background-color: hsl(158, 36%, 37%);
  border: none;
  border-radius: 7px;
}

#cart {
  background-color: hsl(158, 36%, 37%);
  margin-right: 10px;
  size: 1rem;
}